# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
Scripts/

# Flask
instance/
.webassets-cache

# Database
*.db
*.sqlite3

# IDEs
.idea/
.vscode/

# Environment Variables
.env

# Logs
*.log
